@import url("https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

@theme {
  --color-primary: #24c848;
  --color-secondary: #f8f9fa;
  --color-text: #000;
  --color-text-hover: #fff;
  --color-shadow: #879a95;
}
* {
  font-family: "Roboto", sans-serif;
}
