@import url("https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

@theme {
  --color-primary: #854c9d;
  --color-dark-primary: #4e295c;
  --color-secondary: #fdc66c;
  --color-dark-secondary: #fdc264;
  --color-bg: #f8f9fa;
  --color-text: #000;
  --color-text-light: #fff;
  --color-err: red;
  --color-err-hover: white;
  --animate-loading: loading 0.8s infinite forwards linear;
  @keyframes loading {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}
* {
  font-family: "Roboto", sans-serif;
}
